#content {
	width: 100%;
	text-align: center;
}

.container {
	text-align: center;
}

canvas {
	display: inline;
	border: 1px solid black;
	cursor: none;
}

h1 {
	text-align: center;
	color: black;
}

button {
	width: 100%;
}

i {
	text-align: center;
}

td {
	text-align: center;
}

thead {
	color: black;
}

#loadingtext {
	position:absolute;
	top:250px;
	left:150px;
	font-size:2em;
	color: white;
}